@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.h2,
.h3,
.h4,
.h5 {
    color: var(--white-2);
    text-transform: capitalize;
}

.h2 {
    font-size: var(--fs-1);
}

.h3 {
    font-size: var(--fs-2);
}

.h4 {
    font-size: var(--fs-4);
}

.h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}

.portfolio {
    padding: 20px;
    border: 1px solid var(--jet);
    border-radius: 20px;
    display: block;
    animation: fade 0.5s ease backwards;
    background-color: var(--eerie-black-2);
}

.portfolio.active {
    display: block;
}

/* Header styles */
.portfolio header {
    /* text-align: center; */
    margin-bottom: 20px;
    font-weight: var(--fs-1);
}

.article-title {
    position: relative;
    padding-bottom: 7px;
}

.article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
}


.has-scrollbar::-webkit-scrollbar {
    width: 5px;
    /* for vertical scrollbar */
    height: 5px;
    /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
    background: var(--onyx);
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--orange-yellow-crayola);
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
    width: 20px;
}

.portfolio .h2 {
    font-size: 1.8rem;
    color: var(--light-gray);
}

.filter-list {
    display: none;
}

/* Filter list styles */
.filter-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filter-item {
    margin: 0 10px;
}

.filter-item button {
    background: var(--eerie-black-2);
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    text-transform: capitalize;
    width: 100%;
    padding: 8px 10px;
    background: none;
    border: none;

}

.filter-item button.active {
    --eerie-black-2: hsl(240, 2%, 20%);
}

/* Filter select box styles */
.filter-select-box {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;

}

.filter-select {
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.select-value {
    margin-right: 10px;
}

.select-icon ion-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #333;
}

.select-list {
    list-style: none;
    padding: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    display: none;
}

.select-list.active {
    display: block;
}

.select-item button {
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Project list styles */
.project-list {
    list-style: none;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

.project-item {
    width: 50%;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
    margin-left: -20px;
}

.project-item.active {
    display: block;
}

.project-item>a {
    width: 100%;

}

.project-img {
    position: relative;
    width: 80%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
}

/* .project-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
} */

.project-img img {
    width: 100%;
    vertical-align: top;
}

.project-item-icon-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;

}

.project-item:hover .project-item-icon-box {
    opacity: 1;

}


.project-title,
.project-category {
    margin-left: 50px;
    margin-bottom: -5px;
}

.project-title {
    color: var(--white-2);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    line-height: 1.3;
    /* text-decoration: none !important; */

}

.project-category {
    color: var(--light-gray-70);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    /* text-decoration: none !important; */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .filter-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter-item {
        margin: 10px 0;
    }

    .filter-item button {
        margin: 5px;
    }

    .project-item {
        width: 100%;

    }

    .filter-select-box {
        opacity: 1;
    }

    .filter-select {
        /* width: 100%; */
        /* margin-bottom: -80px; */
        padding: 10px 100px;
        /* margin-top: -80px; */
    }

    .filter-item {
        opacity: 0;
        visibility: hidden;
        margin-top: -80px;
    }
}